<body onLoad="document.form.cmd.focus()">
<form action="/" method="post" name="form">
  <input type="text" name="cmd" size="40">
  <input type="submit">
</form>

<div><%= now %></div>
<% res.each do |re| %>
    <hr><%= re[:hostname]+' '+re[:cmd] %><br>
    <pre><%= re[:out] %></pre>
<% end %>
</body>
